@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

//Colors
$primary-color: #191919;
$secondary-color: #d8c58b;

//Fonts
$heading-font: 'Berkshire Swash', cursive;
$paragraph-font: 'Didact Gothic', sans-serif;