@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");
/* line 2, ../sass/base/_base.scss */
body a, body p, body h3, body button {
  font-family: "Didact Gothic", sans-serif;
}
/* line 5, ../sass/base/_base.scss */
body a, body p {
  font-size: 18px;
}

/* line 10, ../sass/base/_base.scss */
a, a:hover, a:active, a:hover {
  outline: 0;
  text-decoration: none;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

/* line 18, ../sass/base/_base.scss */
.primarybtn {
  padding: 3px 15px 4px 15px;
  border: 2px solid #d8c58b;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  color: #d8c58b !important;
}
/* line 25, ../sass/base/_base.scss */
.primarybtn a {
  color: #d8c58b !important;
}

/* line 30, ../sass/base/_base.scss */
.primarybtn:hover {
  color: white;
  box-shadow: 0px 0px 2px #d8c58b;
}

/* line 35, ../sass/base/_base.scss */
.btn-margin {
  margin: 40px 0px;
}

/* line 39, ../sass/base/_base.scss */
.booknow {
  padding: 3px 15px 4px 15px;
  border: 2px solid #d8c58b;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  color: white !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#510505+0,cf0404+100 */
  background: #510505;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #510505 0%, #cf0404 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #510505 0%, #cf0404 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #510505 0%, #cf0404 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#510505', endColorstr='#cf0404',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 45, ../sass/base/_base.scss */
.booknow a {
  color: #d8c58b !important;
}

/* line 55, ../sass/base/_base.scss */
.booknow:hover {
  border: 2px solid #d8c58b;
  box-shadow: 0px 0px 5px white;
  color: #d8c58b !important;
}

/* line 62, ../sass/base/_base.scss */
.img-thumbnail {
  border-radius: 0px !important;
}

/* line 67, ../sass/base/_base.scss */
.heading {
  font-family: "Berkshire Swash", cursive;
  margin: 40px 0px;
}

/* line 1, ../sass/module/_header.scss */
.tophead {
  background: url("https://ak0.picdn.net/shutterstock/videos/21703060/thumb/1.jpg");
  background-size: cover;
  background-attactment: fixed;
  padding: 20px 0px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 3px #191919;
}

@media screen and (max-width: 990px) {
  /* line 12, ../sass/module/_header.scss */
  .text-left {
    text-align: center !important;
  }

  /* line 15, ../sass/module/_header.scss */
  .text-right {
    text-align: center !important;
    padding: 15px 0px 0px 0px !important;
  }
}
/* line 1, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0px !important;
  background-color: #191919 !important;
  border-bottom: 1px solid #d8c58b !important;
}
/* line 5, ../sass/module/_navbar.scss */
.navbar a {
  color: white !important;
}
/* line 9, ../sass/module/_navbar.scss */
.navbar ul a:hover, .navbar ul a:active, .navbar ul a:focus {
  color: #d8c58b !important;
  text-shadow: 0px 0px 15px #d8c58b;
}
/* line 14, ../sass/module/_navbar.scss */
.navbar .dropdown-menu {
  background-color: #191919 !important;
}
/* line 16, ../sass/module/_navbar.scss */
.navbar .dropdown-menu a:hover {
  background-color: #191919;
}

/* line 22, ../sass/module/_navbar.scss */
.navbar-header {
  margin-left: 15px;
}
/* line 24, ../sass/module/_navbar.scss */
.navbar-header a {
  font-family: "Berkshire Swash", cursive !important;
  font-size: 20px !important;
}
/* line 28, ../sass/module/_navbar.scss */
.navbar-header a:hover, .navbar-header a:active, .navbar-header a:focus {
  color: #d8c58b !important;
  text-shadow: 0px 0px 15px #d8c58b;
}

@media screen and (max-width: 768px) {
  /* line 37, ../sass/module/_navbar.scss */
  .navbar ul a:hover, .navbar ul a:active, .navbar ul a:focus {
    border: 0px;
  }

  /* line 42, ../sass/module/_navbar.scss */
  .navbar-header {
    margin-left: 0px;
  }
  /* line 44, ../sass/module/_navbar.scss */
  .navbar-header a:hover, .navbar-header a:active, .navbar-header a:focus {
    color: #d8c58b !important;
  }
}
/* line 1, ../sass/module/_hero.scss */
.hero {
  background: url("https://i.ytimg.com/vi/09pDca1mITM/maxresdefault.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: -20px;
}
/* line 7, ../sass/module/_hero.scss */
.hero .heroform {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  margin: 440px 0 20px 0;
  padding: 20px;
}
/* line 12, ../sass/module/_hero.scss */
.hero .heroform label {
  color: #fff;
}
/* line 15, ../sass/module/_hero.scss */
.hero .heroform .btn-booknow {
  padding-top: 25px;
}

@media only screen and (max-width: 900px) {
  /* line 22, ../sass/module/_hero.scss */
  .hero .heroform {
    margin-top: 150px;
  }
  /* line 24, ../sass/module/_hero.scss */
  .hero .heroform div {
    padding-top: 10px;
  }
}
/* line 1, ../sass/module/_about.scss */
.about {
  background-color: #191919;
  color: #d8c58b;
  height: 80vh auto;
  padding-bottom: 40px;
}
/* line 6, ../sass/module/_about.scss */
.about .img-thumbnail {
  margin: 25px 0px !important;
}
/* line 9, ../sass/module/_about.scss */
.about h3 {
  font-weight: bold;
}
/* line 12, ../sass/module/_about.scss */
.about p {
  color: white;
}

/* line 1, ../sass/module/_service.scss */
.service {
  background-color: #191919;
  color: #d8c58b;
}
/* line 4, ../sass/module/_service.scss */
.service--box {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin: 20px 0px;
}
/* line 9, ../sass/module/_service.scss */
.service--box i {
  font-size: 48px;
}

/* line 1, ../sass/module/_contact.scss */
.contact {
  background: url("https://ak0.picdn.net/shutterstock/videos/21703060/thumb/1.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-bottom: 40px;
}
/* line 7, ../sass/module/_contact.scss */
.contact iframe {
  margin: 20px 0px;
}

/* line 1, ../sass/module/_room.scss */
.rooms {
  background: url("https://image.freepik.com/free-photo/blurred-hotel-reception_1203-2099.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: "Didact Gothic", sans-serif;
}
/* line 8, ../sass/module/_room.scss */
.rooms li {
  font-size: 18px;
}
/* line 11, ../sass/module/_room.scss */
.rooms h3 {
  font-weight: bold;
}

/* line 16, ../sass/module/_room.scss */
.room-info {
  margin-top: 20px;
}

/*
 CSS for the main interaction
*/
/* line 22, ../sass/module/_room.scss */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

/* line 27, ../sass/module/_room.scss */
.tabset .tab-panel {
  display: none;
  padding-bottom: 20px;
}

/* line 33, ../sass/module/_room.scss */
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
/* line 46, ../sass/module/_room.scss */
.tabset label {
  transition: 0.3s ease-in-out;
}

/* line 51, ../sass/module/_room.scss */
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 63, ../sass/module/_room.scss */
.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
  transition: 0.3s ease-in-out;
}

/* line 74, ../sass/module/_room.scss */
.tabset > label:hover, label:active,
.tabset > input:focus + label {
  color: red;
}

/* line 79, ../sass/module/_room.scss */
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: red;
}

/* line 85, ../sass/module/_room.scss */
.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

/* line 90, ../sass/module/_room.scss */
.tab-panel {
  margin-top: -5px;
}

/* line 93, ../sass/module/_room.scss */
.tab-panel {
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 990px) {
  /* line 97, ../sass/module/_room.scss */
  .tabset > label {
    padding: 15px 5px 20px;
  }
}
@media screen and (max-width: 715px) {
  /* line 103, ../sass/module/_room.scss */
  .tabset > label {
    font-size: .8em;
  }
}
@media screen and (max-width: 590px) {
  /* line 108, ../sass/module/_room.scss */
  .tabset > label::after {
    left: 9px;
  }

  /* line 111, ../sass/module/_room.scss */
  .tabset > label {
    font-size: 1em;
  }
}
/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #191919;
  color: #d8c58b;
}
/* line 4, ../sass/module/_footer.scss */
footer a {
  color: #d8c58b;
  transition: 0.3s;
}
/* line 8, ../sass/module/_footer.scss */
footer a:hover, footer a:active, footer a:focus {
  color: white;
  text-decoration: none;
}
/* line 12, ../sass/module/_footer.scss */
footer h3 {
  font-weight: bold;
}
/* line 15, ../sass/module/_footer.scss */
footer ul {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 18px;
}
/* line 21, ../sass/module/_footer.scss */
footer ol {
  list-style-type: none;
  padding-left: 10px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 18px;
}

/* line 29, ../sass/module/_footer.scss */
.copyright {
  background-color: #0a0a0a;
  padding: 10px 0px;
}
