.contact{
	background: url('https://ak0.picdn.net/shutterstock/videos/21703060/thumb/1.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding-bottom: 40px;
	iframe{
		margin: 20px 0px;
	}
}