.tophead{
	background: url('https://pre00.deviantart.net/a739/th/pre/f/2014/068/8/f/black_swirl_carpet__seamless__by_marlborolt-d79jp4v.jpg');
	background-attactment: fixed;
	padding: 20px 0px;
	font-size: 20px;
	color: white;
}

@media screen and (max-width: 990px) {
	.text-left{
		text-align: center !important;
	}
	.text-right{
		text-align: center !important;
		padding: 15px 0px 0px 0px !important;
	}
}