.tophead{
	background: url('https://ak0.picdn.net/shutterstock/videos/21703060/thumb/1.jpg');
	background-size: cover;
	background-attactment: fixed;
	padding: 20px 0px;
	font-size: 20px;
	color: white;
	text-shadow: 0px 0px 3px $primary-color;
}

@media screen and (max-width: 990px) {
	.text-left{
		text-align: center !important;
	}
	.text-right{
		text-align: center !important;
		padding: 15px 0px 0px 0px !important;
	}
}