.tophead{
	background: url('http://1.bp.blogspot.com/-ahgHg2rY2Xk/UeRiOoWbGcI/AAAAAAAAPQg/LEJTvCkza1w/s1600/fiber-board-3.jpg');
	background-attactment: fixed;
	padding: 20px 0px;
	font-size: 20px;
	color: white;
	text-shadow: 0px 0px 3px $primary-color;
}

@media screen and (max-width: 990px) {
	.text-left{
		text-align: center !important;
	}
	.text-right{
		text-align: center !important;
		padding: 15px 0px 0px 0px !important;
	}
}