.hero{
	background: url('https://i.ytimg.com/vi/09pDca1mITM/maxresdefault.jpg');
	background-size: cover;
	background-attachment: fixed;
	// height: 85vh auto;
	margin-top: -20px;
	.heroform{
		background-color: rgba(0,0,0,0.7);
		position: relative;
		margin-top: 400px;
		padding: 20px;
		label{
			color: #fff;
		}
		.btn-booknow{
			padding-top: 25px;
		}
}
}

@media only screen and (max-width: 900px) {
	.hero .heroform{
		margin-top: 150px;
		div{
			padding-top: 10px;
		}
	}
}


